#workspace .contents {
  padding: 0px 10px 20px 220px;
  width: auto;
  overflow: auto;
  background: #fbfbfc;
}
#panel-left{
  width: 200px;
}
#panel-left a{
  color: black;
  position: relative;
}
#panel-left a.link:hover, #panel-left a.active{
  color: white;
  background: #888;
}
#panel-left a.active:after{
  right: 0;
  border: solid 8px transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-right-color: #F1F1F1;
  top: 50%;
  margin-top: -8px;
}
#panel-left #lobby-link{
  background: #8A2BE2;
  text-align: center;
}
#panel-left #lobby-link a{
  color: #fff;
}
@media screen and (max-width: 992px){
  #workspace .contents {
    padding: 0 10px;
    width: fallback;
  }
}
@media screen and (max-width: 600px){
  #workspace .contents {
    padding: 0;
    width: fallback;
  }
}
