i{
  display: inline-block;
  min-height: 24px;
  min-width: 24px;
}
i.small{
  height: 2rem;
  width: 2rem;
}
i.medium{
  height: 4rem;
  width: 4rem;
}
i.large{
  height: 6rem;
  width: 6rem;
}
i#open-in-new{
  background: url(<?THEME_URL?>/src/main/image/icons/open-in-new.svg);
  background-size: contain;
}
