#workspace{
  margin-top: 5px;
}
#workspace .contents{
  display: table;
}
#workspace #editor{
  width: 100%;
}
#workspace .saves-outer{
  width: 25%;
  padding-right: 5px;
  height: 100%;
}
#workspace #editor h2{
  width: 600px;
}
#workspace #saveName{
  margin-bottom: 0;
}
#workspace #editor{
  width: 100%;
  height: 300px;
}
#workspace .btn{
  width:100px;
}
#workspace #saved, #workspace #error{
  display: none;
  margin-top: 5px;
}
#workspace #saved{
  color: green;
}
#workspace #error{
  color: red;
}
#workspace #saves{
  height: 100%;
  overflow: auto;
}
#workspace #saves .saveItem{
  margin: 10px 0;
  background: #fff;
  padding: 2px 10px;
}
#workspace #saves .saveItem .title{
  font-size: 18px;
  margin-bottom: 10px;
}
#workspace #saves .saveItem .updated{
  color: #CCC;
}
