.workspace#ledit{ /* You don't wanna mess with other elements, so keep accuracy in element specification */
  margin-top: 5px;
}
.workspace#ledit .contents{
  display: table;
  margin-bottom: 0;
}
.workspace#ledit .saves-outer, .workspace#ledit #editor{
  display: table-cell;
  vertical-align: top;
}
.workspace#ledit #editor{
  width: 75%;
}
.workspace#ledit .saves-outer{
  width: 25%;
  padding-right: 5px;
  height: 100%;
}
.workspace#ledit #editor h2{
  width: 600px;
}
.workspace#ledit textarea{
  width: 100%;
  height: 460px;
}
.workspace#ledit .button{
  width:100px;
}
.workspace#ledit #saved, .workspace#ledit #error{
  display: none;
  margin-top: 5px;
}
.workspace#ledit #saved{
  color: green;
}
.workspace#ledit #error{
  color: red;
}
.workspace#ledit #saves{
  height: 100%;
  background: white;
  overflow: auto;
}
.workspace#ledit #saves h2{
  margin-top: 0px;
}
.workspace#ledit #saves li{
  display:block;
  margin: 2px 0px;
  padding: 2px 0px 2px 5px;
  width:100%;
  white-space: pre-wrap;
  word-wrap: break-word;
  background:white;
}
