html, body{
  background: url(<?THEME_URL?>/src/dashboard/image/bg.png) repeat;
}
#workspace{
  overflow: hidden;
  top: 50px;
  padding-top: 12px;
}
#workspace .tiles-wrapper{
  margin: 0;
  text-align: center;
}
#workspace .tiles .tile {
  display: inline-block;
  position: relative;
  width: 200px;
  height: 200px;
}
#workspace .tiles .tile.taken:hover{
  box-shadow: inset 0px 0px 1px black;
}
#workspace .tiles .tile.tile-placeholder{
  box-shadow: inset 0px 1px 46px black;
  height: 190px;
  width: 200px;
  float: left;
}
#workspace .tiles .tile .inner{
  position: absolute;
  left: 3px;
  top: 3px;
  bottom: 0px;
  right: 3px;
  color: black;
}
#workspace .tiles .tile.tile-placeholder .inner{
  z-index: -1;
}
#workspace .tiles .tile .image{
  max-height: 82.5%;
  max-width: 82.5%;
  margin: 0 auto;
}
#workspace .tiles .tile .title{
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding: 0px 6px;
  font-size: 14px;
  font-weight: 500;
  height: 17.5%;
  width: 100%;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#workspace .tiles .tile:hover .title{
  color: #D54E21;
}
#workspace .tiles #lobby-store .image{
  height: 100%;
}

.scroll-element.scroll-y {
  display: none !important;
}

#dash-control{
  position: fixed;
  top: 50px;
  left: 0;
  right: 0;
}
#bx-pager{
  height: 12px;
  background: transparent;
}
#bx-pager .indicator{
  display: none;
}
#bx-pager .tab{
  height: 12px;
  cursor: pointer;
}
#bx-pager a{
  background: rgba(0,0,0,0.6);
}
#bx-pager .active{
  background: #000;
  cursor: auto;
}

@media screen and (max-width: 850px){
  #workspace .tiles .tile{
    height: 25vw;
    width: 25vw;
  }
}
