/**
 * Workspace
 */
.workspace{
  background: #fbfbfc;
  top: 50px;
}
.workspace .contents{
  margin: 0px auto 40px;
  width: 700px;
  overflow: auto;
}
.content{
  position: relative;
  display: block;
  width: auto;
  padding: 0px 14px 15px 14px;
  background: white;
}
h1,h2,h3,h4{
  padding: 15px 0px;
  margin:0px;
  line-height:1em;
  font-weight: 500;
}

/* Paragraph */
p{
  margin:0px;
  margin-top:5px;
}

b, strong{
  font-weight: 500;
}


/* Useful Attributes */
[hide]{
 display:none;
}
/* A line breaker with margin of 5px. As a short replacement of <br/> */
[clear], cl{
  margin-top: 5px;
  display:    block;
}
/* Appearance */
table{
  width: 100%;
  margin: 10px 0px;
  word-wrap: break-word;
  font-size: 14px;
  background:white;
  border: 1px solid #e5e5e5;
  border-spacing: 0px;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.04);
  box-shadow: 0 1px 1px rgba(0,0,0,.04);
}
table thead{
  background:#fff;
  border-bottom: 1px solid #e1e1e1;
}
table tbody tr{
  background-color: #f7fcfe;
}
table tbody tr td:nth-child(1){
  border-left: 4px solid #2ea2cc;
}
table tr td, table tr th{
  padding: 10px 10px;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.1);
  box-shadow: inset 0 -1px 0 rgba(0,0,0,.1);
  border: 0px;
  font-weight: normal;
  text-align: left;
}
.message{
  background : white;
  border-left: 4px solid #2ea2cc;
  padding: 10px;
  margin: 10px 0px;
}
.message .title{
  font-size: 22px;
  font-weight: 500;
  font-family: Ubuntu;
  margin-bottom: 10px;
}
/**
 * jQuery UI
 */
.ui-selected{
  background: #F07746;
  color: white;
}
.ui-selecting {
  background: #FECA40;
}
.ui-tooltip{
  word-wrap: break-word;
}
.ui-widget-content{
  border-color: #42A9CE;
}

/**
 * Workspace
 */
.workspace{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
}
.workspace .contents{
  margin: 0px auto 40px;
  width: 700px;
  overflow: auto;
}
