.leftpane{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 200px;
  background: white;
}
.leftpane div a[href]{
  display: block;
  margin: 5px 0px;
  padding: 8px 0px 8px 15px;
  background: #DDD;
  color: black;
  position: relative;
}
.leftpane div a[href]:hover, .leftpane div a[href].active{
  color: white;
  background: #888;
}
.leftpane div a[href].active:after{
  right: 0;
  border: solid 8px transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-right-color: #f1f1f1;
  top: 50%;
  margin-top: -8px;
}
.rightpane{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 200px;
  right: 0;
  overflow: auto;
  background: #EEE;
}
.rightpane .contentLoading{
  display: none;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  width: 300px;
  height: 300px;
  z-index: 5;
}
.rightpane .contentLoader{
  padding: 8px 0px 8px 15px;
}
.rightpane .contentLoader .stat{
  display: inline-block;
  height: 100px;
  width: 200px;
  margin-right: 15px;
  background: #fff;
  text-align: center;
  box-shadow: 2px 2px 4px rgba(0,0,0,.5);
}
.rightpane .contentLoader .stat .count{
  font-size: 45px;
  padding: 20px 0 25px 0;
}
.rightpane table .removeColumn{
  display: inline-block;
  vertical-align: middle;
  height: 12px;
  width: 12px;
  margin-left: 5px;
  background: url(<?APP_SRC?>/src/Image/remove.svg);
  background-size: contain;
}
