.workspace{
  padding: 10px 80px;
  background-image: none;
  background-color: black;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  color: white;
  width: 1368px;
}
.workspace .loading{
  text-align: center;
  color: white;
}
.workspace .loading .progress{
  display: inline-block;
  height: 20px;
  width: 400px;
  margin-top: 20px;
  border: 1px solid white;
}
.workspace .loading .progress .inner{
  height: 100%;
  width: 0;
  background: red;
}
.workspace .audios{
  display: none;
  position: absolute;
  top: -1000px;
  left: -1000px;
}
.clearfix{
  display: none;
}
.clearfix .left{
  float: left;
  width: 73.666%;
}
.clearfix .right{
  float: right;
  height: 99%;
  width: 25%;
  background: rgba(34, 62, 149, 0.5);
  border: 1px solid #CCC;
}
.clearfix .left .overlay{
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10% 30%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 2;
}
.clearfix .left .phoneafriend-container img, .clearfix .left .phoneafriend-container .text{
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
}
.clearfix .left .phoneafriend-container .text{
  width: 50%;
  font-size: 1.5em;
  line-height: 1.4em;
}
.clearfix .left .audiencevote-container .results span{
  display: inline-block;
  width: 7.5em;
  font-size: 1.5em;
  text-align: center;
  margin-top: 20px;
}
.clearfix .left .show_host{
  height: 300px;
  background: rgba(34, 62, 149, 0.5);
  border: 1px solid #eee;
  margin-bottom: 20px;
}
.clearfix .left .show_host .text{
  padding: 10px 0px;
  font-size: 20px;
  text-align: center;
  line-height: 1.5em;
}
.clearfix .left .timer{
  display: none;
  margin: 0px auto;
  text-align: center;
  height: 200px;
  width: 200px;
}
.clearfix .left .question{
  height: 95px;
  color: white;
  background: url(<?APP_SRC?>/src/Image/Lozenge.png);
  background-size: cover;
}
.clearfix .left .question .text{
  font-size: 2em;
  padding: 15px 3em;
  line-height: 1.2em;
  selection: none;
}
.clearfix .left .options{
  margin-top: 20px;
}
.clearfix .left .options .option{
  display: inline-block;
  vertical-align: middle;
  height: 50px;
  width: 50%;
  margin-bottom: 20px;
  padding: 0 0 0 7em;
  background: url(<?APP_SRC?>/src/Image/Lozenge.png);
  background-size: 880px;
  background-position: 0 -97px;
  cursor: pointer;
  line-height: 50px;
}
.clearfix .left .options .option:hover{
  background-position: 0 -153px;
}
.clearfix .left .options .text{
  font-size: 1.2em;
}
.clearfix .left .options .option:nth-child(2), .clearfix .left .options .option:nth-child(4){
  background-position: -430px -97px;
  padding: 0 0 0 4.5em;
}
.clearfix .left .options .option:nth-child(2):hover, .clearfix .left .options .option:nth-child(4):hover{
  background-position: -430px -153px;
}
.clearfix .left .options .option .text{
  display: inline-block;
  color: white;
}
.clearfix .left .options .option .letter{
  margin-right: 10px;
}
.clearfix .left .options .option.locked{
  background-position: -0 -209px;
}
.clearfix .left .options .option:nth-child(2).locked, .clearfix .left .options .option:nth-child(4).locked{
  background-position: -430px -209px;
}
.clearfix .left .options .option.correct{
  background-position: 0 -265px;
}
.clearfix .left .options .option:nth-child(2).correct, .clearfix .left .options .option:nth-child(4).correct{
  background-position: -430px -265px;
}

/**
 * Clearfix Left
 */
.clearfix .right .lifelines{
  padding: 10px 20px 10px;
    text-align: center;
}
.clearfix .right .lifelines .lifeline{
  display: inline-block;
  vertical-align: middle;
  height: 52px;
  width: 72px;
  cursor: pointer;
  background: url(<?APP_SRC?>/src/Image/Lifelines.png);
  background-size: 16em;
  background-repeat: no-repeat;
}
.clearfix .right .lifelines .lifeline#fifty-fifty{
  background-position: 1 -65px;
}
.clearfix .right .lifelines .lifeline#phoneafriend{
  background-position: -75px -65px;
}
.clearfix .right .lifelines .lifeline#audience-vote{
  background-position: -153px -65px;
}
.clearfix .right .lifelines .lifeline:hover, .clearfix .right .lifelines .lifeline.active{
  background-position-y: -134px !important;
}
.clearfix .right .lifelines .lifeline.used{
  background-position-y: 4px !important;
}
.clearfix .right .questions .question{
  margin: 2px;
  padding: 2px 10px;
  color: #FF9933;
  font-weight: bold;
  font-size: 18px;
}
.clearfix .right .questions .question.cur{
  color: black;
  background: #FF6600;
}
.clearfix .right .question:nth-child(6), .clearfix .right .question:nth-child(11), .clearfix .right .question:nth-child(15){
  color: #FFFFCC;
}
.clearfix .right .questions .question .number{
  margin-top: 1px;
  float: left;
  text-align: right;
  width: 20px;
}
.clearfix .right .questions .question .money{
  text-align: center;
}
