<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./autoload.php" colors="true">
  <testsuites>
    <testsuite name="Lobby">
      <file>./tests/Install.php</file>
    </testsuite>
  </testsuites>
  <php>
    <const name="WEB_SERVER_HOST" value="127.0.0.1" />
    <const name="WEB_SERVER_PORT" value="8000" />
    <const name="DB_USERNAME" value="root" />
    <const name="DB_PASSWORD" value="backstreetboys" />
    <const name="DB_NAME" value="tests" />
  </php>
</phpunit>
