.workspace#ledit textarea{ /* You don't wanna mess with other elements, so accuracy in element specification is better to use. */
 width: 500px;
 height: 480px;
}
.workspace#ledit .button{
 width:100px;
}
.workspace#ledit #saved{
 color:green;
 display: none;
}
.workspace#ledit #error{
 color:red;
 display: none;
}
.workspace#ledit #saves, .workspace#ledit #editor{
 display:inline-block;
 vertical-align:top;
 margin-right: 10px;
}
.workspace#ledit #saves{
 width:140px;
}
.workspace#ledit #saves h2{
 margin-top:0px;
}
.workspace#ledit #saves li{
 background:white;
 width:100%;
 display:block;
 padding:2px 0px 2px 5px;
 border-bottom:1px solid black;
}
