#videoURL{
 width:400px;
 height:30px;
 margin:5px auto;
}
#convertVideo{
 display:table;
 margin:2px auto;
 width:150px;
}
.footnote{
 text-align:center;
 margin:15px auto;
 border-top:1px solid black;
 padding-top:5px;
}
.footnote img{
 margin:5px auto;
}
.message{
 margin:10px 15px;
}
.vidInfo .info, .vidInfo .image{
 display: inline-block;
 vertical-align: top;
 margin-right: 12px;
 white-space: pre-line;
}
.vidInfo .suc{
 color:#008000;
}
.vidInfo .download{
 margin-top:5px;
}
.vidInfo .download .button{
 width: 100px;
}
