nav{
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 50px;
  padding: 5px;
  background: #2989E5;
  color: white;
  z-index: 1000;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, .5);
}
nav a{
  color: white;
}
nav .left{
  position:absolute;
  left:60px;
  list-style: none;
  margin: 0px;
  padding: 0;
}
nav .left li.prnt, nav .right li.prnt{
  position: relative;
  cursor: pointer;
  margin-right: 15px;
  line-height: 40px;
  min-height: 40px;
  max-height: 40px;
}
nav .left ul, nav .right ul{
  display:none;
  position:absolute;
  top: 46px;
  list-style: none;
  padding: 0px;
  max-width: 150px;
  background: #000;
  line-height: 20px;
}
nav .left ul a, nav .right ul a{
  display: block;
  margin: 0;
  padding: 5px 10px;
  min-width:120px;
}
nav .left li.item, nav .right li.item{
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
}
nav .right{
  position:absolute;
  right: 60px;
  list-style: none;
  margin: 0px;
}
nav .right ul{
  text-align: right;
  right: 0;
}
/**
 * Icons
 */
nav .left .lobby a.prnt{
  font-size: 30px;
}
nav .left .home a{
  display: block;
  height: 40px;
  width: 40px;
  background: url(<?THEME_URL?>/src/panel/image/home.svg);
  background-size: contain;
}
nav .right .item span{
  height:22px;
  width:17px;
  display: inline-block;
}
nav .right #update{
  background: url(<?THEME_URL?>/src/panel/image/update.svg) 0px -1px no-repeat;
  background-size: 45px;
  width: 50px;
  display: block;
  height: 40px;
}

/**
 * Sidebar toggler
 */
nav a.button-collapse i{
  font-size: 3rem;
  height: 43px;
  line-height: 43px;
}
