.panel.top{
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 50px;
  padding: 5px;
  background: #2989E5;
  color: white;
  z-index: 1000;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, .5);
}
.panel.top a{
  color: white;
}
.panel.top a:hover{
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  color: #fff;
}
.panel.top .left{
  position:absolute;
  left:60px;
  list-style: none;
  margin: 0px;
  padding: 0;
}
.panel.top .left li.prnt, .panel.top .right li.prnt{
  position: relative;
  cursor: pointer;
  margin-right: 15px;
  line-height: 40px;
  min-height: 40px;
  max-height: 40px;
}
.panel.top .left ul, .panel.top .right ul{
  display:none;
  position:absolute;
  top: 46px;
  list-style: none;
  padding: 0px;
  max-width: 150px;
  background: #000;
  line-height: 20px;
}
.panel.top .left ul a, .panel.top .right ul a{
  display: block;
  margin: 0;
  padding: 5px 10px;
  min-width:120px;
}
.panel.top .left li.item, .panel.top .right li.item{
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
}
.panel.top .right{
  position:absolute;
  right:5px;
  list-style: none;
  margin: 0px;
}
.panel.top .right ul{
  right: 0px;
  text-align: right;
}
/**
 * Icons
 */
.panel.top .left .lobby a.prnt{
  font-size: 30px;
}
.panel.top .left .home a{
  display: block;
  height: 40px;
  width: 40px;
  background: url(<?THEME_URL?>/src/panel/image/home.svg);
  background-size: contain;
}
.panel.top .right .item span{
  height:22px;
  width:17px;
  display: inline-block;
}
.panel.top .right #update{
  background: url(<?L_URL?>/includes/lib/lobby/image/update.png) 0px -1px no-repeat;
  background-size: 45px;
  width: 50px;
  display: block;
  height: 45px;
}
