nav{
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 50px;
  padding: 5px;
  background: #4280EC;
  color: white;
  z-index: 1000;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, .5);
}
nav a{
  color: white;
}
nav li img{
  height: 40px;
  width: 40px;
}
nav .panel-left, nav .panel-right{
  display: inline-block;
  list-style: none;
}
nav .panel-left{
  margin: 0 0 0 60px;
  padding: 0;
}
nav .panel-left li.parent, nav .panel-right li.parent{
  position: relative;
  cursor: pointer;
  margin-right: 15px;
  line-height: 40px;
  min-height: 40px;
  max-height: 40px;
}
nav .panel-left ul, nav .panel-right ul{
  display:none;
  position:absolute;
  top: 46px;
  list-style: none;
  padding: 0px;
  max-width: 150px;
  background: #000;
  line-height: 20px;
  z-index: 1000;
}
nav .parent ul .item a{
  display: block;
  margin: 0;
  padding: 5px 10px;
  min-width:120px;
}
nav .li.item{
  display: inline-block;
  vertical-align: middle;
  position: relative;
  margin-right: 20px;
}
nav .panel-right{
  margin: 0 60px 0 0;
  float: right;
}
nav .panel-right ul{
  text-align: right;
  right: 0;
}
/**
 * Icons
 */
nav .panel-left #lobby a.parent{
  font-size: 30px;
}
nav .panel-left #home a{
  display: block;
  height: 40px;
  width: 40px;
  background: url(<?THEME_URL?>/src/panel/image/home.svg);
  background-size: contain;
}
nav .panel-right .item span{
  height:22px;
  width:17px;
  display: inline-block;
}
nav .panel-right #notifyToggle{
  background: url(<?THEME_URL?>/src/panel/image/notify.svg) 0px -1px no-repeat;
  background-size: 45px;
  width: 50px;
  display: block;
  height: 40px;
}
nav .panel-right #notifyToggle.active{
  background: url(<?THEME_URL?>/src/panel/image/notify-active.svg) 0 -1px no-repeat;
    background-size: 45px;
}

/**
 * Sidebar toggler
 */
nav .button-collapse{
  display: inline-block;
  float: none;
}
nav a.button-collapse i{
  font-size: 3rem;
  height: 43px;
  line-height: 43px;
}

/**
 * Notifications
 */
#notifyBox{
  display: none;
  width: 300px;
  height: 350px;
  position: absolute;
  top: 50px;
  right: 0;
  border: 1px solid rgba(100,100,100,.2);
  -webkit-box-shadow: 0 3px 8px rgba(0,0,0,.2);
  background: #FFF;
  color: #000;
  line-height: 2rem;
  z-index: 3;
}
#notifyBox:before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  color: transparent;
  border: 10px solid #CCC;
  border-color: transparent transparent #FFF;
  margin-top: -20px;
  margin-left: 260px;
}

#notifyBox .notifyItem{
  margin: 0;
  padding: 20px;
  color: #000;
}

#notifyBox .notifyItem:hover{
  background: #EEE;
}

#notifyBox .notifyItem img{
  max-height: 32px;
  max-width: 32px;
}

/**
 * Notify Item Icons
 */
#notifyBox .notifyItemIconupdate{
  display: block;
  background: url(<?THEME_URL?>/src/panel/image/update.svg) 0px -1px no-repeat;
  background-size: 30px;
  width: 30px;
  height: 30px;
}
@media screen and (max-width: 600px){
  nav .panel-left{
    margin-left: 0;
  }
  nav .panel-right{
    margin-right: 0;
  }
  nav ul a{
    padding: 0 5px;
  }
  nav .panel-left li.parent, nav .panel-right li.parent{
    margin-right: 5px;
  }
}
