.workspace#anagram .contents{
	min-width: 500px;
	height: 500px;
	background: rgb(241, 163, 101);
	padding: 0px 20px;
}
.workspace#anagram .controls{
	text-align:right;
	margin-bottom: 10px;
}
.workspace#anagram .controls a{
	color: white;
	font-size: 16px;
	margin-left: 10px;
	cursor: pointer;
}
.workspace#anagram .contents .letters, .workspace#anagram .contents .input{
	background: white;
	border: 2px solid black;
	padding: 10px 20px;
	margin-bottom: 20px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 1em;
	font-size: 20px;
	height: 65px;
	margin-right: 20px;
}
.workspace#anagram .contents .letters{
	
}