/* Short For App Center */
.app{
	background: white;
	width: 550px;
	padding: 10px 15px;
	min-height: 125px;
	margin: 0px 0px 10px;
	border-radius: 2px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, .3);
	position: relative;
}
.app .left{
 	float: left;
	width: 120px;
	margin-right: 10px;
}
.app .right {
	display: flex;
	flex-wrap: wrap;
	min-height: 160px;
}
.app .right .title{
 	font-weight: bold;
	font-size: 16px;
	margin: 0px 0px 8px;
	width: 100%;
}
.app .right .description{
	color: #AAA;
	padding: 5px 5px;
}
.app .info{
	display: inline-table;
	margin-top: 10px;
	table-layout: fixed;
}