.panel.top{
 background: #F06D6D;
}
.workspace{
 position:absolute;
}
.workspace .apps{
 position: absolute;
 left: 0px;
 padding-top: 5px;
 top: 0px;
 bottom: 0px;
 right: 0px;
 text-align:center;
}
.workspace .apps .app{
 height: 200px;
 width: 200px;
 position:relative;
 display:inline-block;
 margin:3px;
}
.workspace .apps .app .image{
 height: 200px;
}
.workspace .apps .app .title{
 font-size:14px;
 font-weight: bold;
 position: absolute;
 bottom: 3px;
 left: 7px;
}
.workspace .apps .app .inner{
 color:black;
 background:#fff;
 height: 100%;
}
