body{
  background: -moz-linear-gradient(10% 100% 360deg, #377ad0, #52a8e8);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#52a8e8), to(#377ad0));
}
.workspace .quote{
	color:white;
	font-size:20px;
	position:absolute;
	bottom:40px;
	right:0px;
	left:0px;
	text-align:center;
}
.workspace .content{
	width: 46%;
  height: 70%;
  margin: auto;
  position: absolute;
  top: -120px; left: 0; bottom: 0; right: 0;
  box-shadow: 0 1px 10px 0 #b3b3b3;
  padding:0px 15px;
  background:white;
  border-radius:10px;
}
.workspace .content-full{
	width: 46%;
  margin: 40px auto;
  background:white;
  padding: 10px 15px;
  border-radius:10px;
}
.workspace #voterForm{
  display: table;
  margin: 0px auto;
}
.workspace .candidates{
  display: table;
  margin: 20px auto;
}
.workspace .candidates .candidate{
 	margin: 5px;
 	padding: 5px;
}
.workspace .candidates .candidate input, .candidates .candidate label{
	display:inline-block;
	vertical-align:middle;
}
.workspace .candidates .candidate input{
	margin-right:10px;
}
.workspace .candidates .boys, .candidates .girls{
	display:inline-block;
	width:200px;
}
.workspace #username{
  position:absolute;
  bottom: 70px;
  right: 0px;
  left: 0px;
  text-align: center;
  font-size: 50px;
}
.workspace button, .workspace .button {
	display: table;
  margin: 0px auto;
  padding: 10px 30px;
	font-size: 18px;
	font-weight: bold;
  border-radius: 5px;
}

/* Our Styles */
.workspace input[type=checkbox]{
 	outline:none !important;
}
.workspace .content .thankyou, .workspace .content #voteForm{
	display: none;
}
@media screen and (max-width: 1024px){
  .workspace .content{
    width: 80%;
  }
}
