.workspace#pocket .tpane{
  background: #fff;
  padding: 10px 20px;
  height: 44px;
}
.tpane #balance{
  color: #008000;
  float: left;
}
.tpane #settings{
  background: url(<?APP_SRC?>/src/image/settings.svg);
  background-size: contain;
  height: 24px;
  width: 24px;
  float: right;
  cursor: pointer;
}
