.workspace{
  background: #eee;
}
.workspace .top{
  padding: 10;
  background: #ccc;
  color: white;
}
.workspace .top .right{
  float: right;
  color: red;
  font-size: 18px;
  margin-right: 20;
}
.workspace .top .right div, .workspace .top .right span{
  display: inline-block;
}
.workspace .top .right span .button{
  margin: -5px 5px 0;
}
.workspace #expired_overlay, .workspace #finished_overlay{
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  font-size: 20;
  text-align: center;
  background: rgba(0, 0, 0, 0.6);
}
.workspace #expired_overlay .button, .workspace #finished_overlay .button{
  font-size: 18px;
  margin-top: 20;
}
.workspace #finished_overlay h2{
  font-size: 120;
}
.workspace .exam{
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
}
.workspace .exam .examTabs li, .workspace .exam .choices li{
  display: inline;
}
.workspace .exam .left{
  display: table-cell;
  width: 15%;
}
.workspace .exam .left .toggleQuestion, .workspace .exam .left .toggleGroup{
  display: block;
  margin: 5px 0;
}
.workspace .exam .left .toggleGroupContainer{
  padding-bottom: 10;
  margin-bottom: 10;
  border-bottom: 2px solid #CCC;
}
.workspace .exam .right{
  display: table-cell;
  vertical-align: top;
  width: 85%;
  padding-left: 15px;
}
#short-box, #multiple-box, #note-box, #practical-box{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 50 0 0;
  padding: 5px 50;
  background: #eee;
  width: 100%;
}
#short-box:target, #multiple-box:target, #note-box:target{
  display: table;
  height: 85%;
  z-index: 6;
}
#short-box{
  z-index: 4;
}
#practical-box{
  display: none;
}
.workspace .exam .questionArea{
  display: none;
}
.workspace .exam .questionArea .question{
  background: white;
  height: 250;
  padding: 10;
  overflow: auto;
  box-shadow: inset 0 -1px 15px #ccc;
  font-size: 15px;
}
#practical-box .questionArea .question{
  height: auto;
}
.workspace .exam .questionArea .question img{
  display: block;
  margin: 20 0;
  max-width: 100%;
}
.workspace .exam .questionArea .options{
  margin-top: 10;
  text-align: center;
}
.workspace .exam .questionArea .option{
  display: inline-block;
  vertical-align: top;
  background: white;
  width: 40%;
  margin: 5px 0 5px 5px;
  padding: 20;  
  text-align: left;
  font-size: 13px;
}
.workspace .exam .questionArea .option span{
  width: 92%;
  vertical-align: top;
  margin-left: 5px;
}
.workspace .exam .left .toggleGroup.active{
  font-weight: bold;
}
@media screen and (max-width: 1000){
  #short-box, #multiple-box, #note-box{
    padding: 0;
  }
}
