.workspace .tiles{
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  right: 0px;
  overflow-x: scroll;
  overflow-y: hidden;
}
.workspace .tiles .row{
  width: 100%;
  height: 200px;
}
.workspace .tiles .tile {
  position: relative;
  float: left;
  height: 200px;
  width: 200px;
}
.workspace .tiles .tile.taken:hover{
  box-shadow: inset 0px 0px 10px black;
}
.workspace .tiles .tile.tile-placeholder{
  box-shadow: inset 0px 1px 46px black;
  height: 200px;
  width: 200px;
  float: left;
}
.workspace .tiles .tile .inner{
  position: absolute;
  left: 3px;
  top: 3px;
  bottom: 0px;
  right: 3px;
  color: black;
  background: #fff;
}
.workspace .tiles .tile.tile-placeholder .inner{
  z-index: -1;
}
.workspace .tiles .tile .image{
  max-height: 197px;
  max-width: 197px;
}
.workspace .tiles .tile .title{
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding: 0px 6px;
  font-size: 14px;
  font-weight: 500;
}
.workspace .tiles .tile:hover .title{
  color: #D54E21;
}
.scroll-element.scroll-y {
  display: none !important;
}
