.workspace{
  background: #fff;
}
.workspace .tiles{
  display: table;
  margin: 0 auto;
  width: 1024px;
}
.workspace .tiles .row{
  width: 100%;
  height: 200px;
}
.workspace .tiles .tile {
  position: relative;
  display: inline-block;
  width: 200px;
  height: 200px;
  margin: 5px 0;
}
.workspace .tiles .tile.taken:hover{
  box-shadow: inset 0px 0px 1px black;
}
.workspace .tiles .tile.tile-placeholder{
  box-shadow: inset 0px 1px 46px black;
  height: 190px;
  width: 200px;
  float: left;
}
.workspace .tiles .tile .inner{
  position: absolute;
  left: 3px;
  top: 3px;
  bottom: 0px;
  right: 3px;
  color: black;
  background: #fff;
}
.workspace .tiles .tile.tile-placeholder .inner{
  z-index: -1;
}
.workspace .tiles .tile .image{
  max-height: 165px;
  max-width: 165px;
  margin: 0 auto;
}
.workspace .tiles .tile .title{
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding: 0px 6px;
  font-size: 14px;
  font-weight: 500;
  width: 100%;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.workspace .tiles .tile:hover .title{
  color: #D54E21;
}
.scroll-element.scroll-y {
  display: none !important;
}
@media screen and (max-width: 1024px){
  .workspace .tiles .tile{
    width: 
  }
}
