/**
 * Main page
 */
#workspace .app{
  display: inline-block;
  vertical-align: top;
  padding: 0;
}
#workspace .app .app-inner{
  position: relative;
  background: white;
  margin: 5px;
  padding: 20px;
}
#workspace .app .lpane{
  float: left;
}
#workspace .app .lpane img{
  width: 128px;
  height: 128px;
}
#workspace .app .rpane{
  margin: 0;
}
#workspace .app .rpane .name{
  font-size: 1.3rem;
  line-height: 1.3;
}
#workspace .app .rpane .actions{
  margin-top: 10px;
}

/**
 * App page
 */
#workspace .app .rpane .btn:nth-child(2){
  margin-left: 10px;
}
#workspace #leftpane .btn{
  width:100%;
  margin: 5px 0px;
}
#workspace #app-info ul{
  margin-left: 20px;
}
