.workspace{
  top: 0;
}
.contents h1{
  margin: 2.1rem 0;
}
#step1 #continue{
  margin: 20px;
}
#step2 table td{
  text-align: center !important;
}
#step3 #db_location, #step3 #choose_db_location{
  display: inline-block;
  vertical-align: middle;
}
#step3 #db_location{
  width: 70%;
}
#step3 #choose_db_location{
  
}
