/**
 * Lobby Store
 */
.apps .app{
  display: inline-block;
  vertical-align: top;
  width: 48.5%;
  margin: 5px;
}
.apps .app .app-inner{
  position: relative;
  height: 170px;
  background: white;
  padding: 20px;
}
.apps .app .lpane{
  float: left;
}
.apps .app .lpane img{
  width: 128px;
  height: 128px;
}
.apps .app .rpane{
  margin: 0 0 0 148px;
}
.apps .app .rpane .name{
  font-size: 1.3rem;
  line-height: 1.3;
}
.apps .app .bpane{
  padding: 10px 20px;
  margin: 0;
  height: 65px;
  background: #fafafa;
  border-top: 1px solid #dedede;
}
.apps .app .bpane .lside{
  float: left;
}
.apps .app .bpane .rside{
  float: right;
  text-align: right;
}
.apps .app .bpane .lside .downloads{
  margin: 5px 0 0;
}
.pagination {
  display: table;
  margin: 20px;
}
