/**
 * Lobby Store
 */
#workspace #storeNav{
  padding: 20px;
}
#workspace #storeNav .btn{
  margin-right: 10px;
}
#workspace .apps .app .bpane{
  padding: 10px 20px;
  margin: 0;
  height: 65px;
  background: #fafafa;
  border-top: 1px solid #dedede;
}
#workspace .apps .app .bpane .rside{
  text-align: right;
}
#workspace .apps .app .bpane .lside .downloads{
  margin: 5px 0 0;
}
#workspace .pagination {
  display: table;
  margin: 20px;
}

/**
 * App view page
 */
#workspace #appNav{
  margin: -5px 0 10px;
}

@media screen and (max-width: 600px){
  #workspace .app{
    margin: 0;
  }
  #workspace .app .app-inner{
    padding: 0;
  }
  #workspace .app .rpane .chip{
    display: none;
  }
  #workspace .app .bpane{
    display: none;
  }
}
