/**
 * Lobby Store
 */
.apps .app .bpane{
  padding: 10px 20px;
  margin: 0 -10px;
  height: 65px;
  background: #fafafa;
  border-top: 1px solid #dedede;
}
.apps .app .bpane .rside{
  text-align: right;
}
.apps .app .bpane .lside .downloads{
  margin: 5px 0 0;
}
.pagination {
  display: table;
  margin: 20px;
}

/**
 * App view page
 */
#workspace #appNav{
  margin: -5px 0 10px;
}
